                
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #69341b;
    background-image: url("Imagens/4519037-zelda-link-the-legend-of-zelda-breath-of-the-wild-the-legend-of-zelda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

header {
    text-align: center;
    background-color: #4caf50;
    padding: 1px;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #81c784;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: rgb(218, 60, 32); 
    font-family: 'The Wild Breath of Zelda', sans-serif;
}

nav ul li a:hover {
    background-color: #558b6e;
    color: #fff;
}

main {
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #777;
    background-color: #4caf50;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

h1 { 
    font-family: 'The Wild Breath of Zelda', sans-serif;
    font-size: 36px; 
    color: rgb(218, 60, 32); 
    background-color: #05770b;
}

h2 {
    font-family: 'The Wild Breath of Zelda', sans-serif;
    color: goldenrod;
    background-color: #05770b;
    
   
}
p {
    color: #000000;
    
    
}

.gallery {
    display: flex;
}

.gallery img {
    flex: 1;
    width: 20%;
    height: auto;
    border: 2px solid goldenrod;
    margin: 5px;
}

button {
    
    text-decoration: none;
    color: #333;
    font-family: 'The Wild Breath of Zelda', sans-serif;

}